.searchSection {
  max-width: 600px;
  margin: 0 auto 120px;

  @media only screen and (max-width: 768px) {
    margin: 0 auto 60px;
  }

  .title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: var(--font-weight-bold);
  }

  .textField {
    & input {
      padding-right: 45px;
    }

    & div {
      background-color: var(--color-background);
    }
  }

  .searchButton {
    position: absolute;
    right: 0;
    top: 20px;
  }
}
