.bookItem {
  height: 100%;
  width: 100%;
}

.bookLink {
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
  flex: 0 0 auto;
  object-fit: cover;
}

.bookInfo {
  display: flex;
  justify-content: right;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.category {
  opacity: 0.6;
  text-decoration: underline;
  margin-bottom: 20px;
}

.title {
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}

.authorsList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}
