.main {
  background: url('../../assets/images/booksBackground.jpg') fixed 0 0 / cover no-repeat;
  min-height: 100vh;
  position: relative;
}

.backgroundImage {
  position: fixed;
  width: 100%;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 200px 32px 10px;
}
