.returnLink {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 5px 15px;
  background-color: var(--color-background);
  border-radius: 20px;
}

a {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 5px;
  color: var(--color-font-dark);
}

@media screen and (max-width: 461px) {
  top: 104px;
}
